= simple_form_for(@review) do |f|
  = f.error_notification

  .form-inputs
    = f.input :comment
    = f.input :rating
    = f.input :user_id
    = f.input :voucher_id

  .form-actions
    = f.button :submit
