.login-box
  .login-logo
    %img{:alt => "User Image", :src => "/assets/logo-white.png"}/
    / %b> Dis
    / Coucher
  / /.login-logo
  .login-box-body
    %p.login-box-msg Register Your Book
    = simple_form_for [ :admin, @register_book] do |f|
      = f.error_notification
      - if @register_book.errors.any?
        / #error_explanation
        %h2= "#{pluralize(@register_book.errors.count, "error")} prohibited this Book from being registerred:"
        %ul
          - @register_book.errors.full_messages.each do |message|
            -if message == 'Book must exist'
              %li Kindly enter the correct book code
            -elsif message == 'User must exist'
              %li Kindly check your email and try again
            -else
              %li Kindly check your details and try again



      .form-group.has-feedback
        = f.input :email, class: 'form-control', placeholder: 'Email',autofocus: true, label: false
        %span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        = f.input :first_name, class: 'form-control', placeholder: 'First name', autofocus: true, label: false
        %span.glyphicon.glyphicon-user.form-control-feedback
      .form-group.has-feedback
        = f.input :last_name, class: 'form-control', placeholder: 'Last name',autofocus: true, label: false
        %span.glyphicon.glyphicon-user.form-control-feedback
      .form-group.has-feedback
        = f.input :phone_number, class: 'form-control', placeholder: 'Phone Number',autofocus: true, label: false
        %span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        = f.input :book_code, class: 'form-control', placeholder: 'Book Code',autofocus: true, label: false
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-8
        / /.col
        .col-xs-4
          = f.button :submit, 'Register', class: 'btn btn-outline-success'