%table.table.table-hover
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Phone Number
      %th Customer Role
      %th

  %tbody
    - users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.phone_number
        %td= user.role.name
        %td
          -if current_admin && current_admin.is_admin?
            = link_to 'Show Details',  admin_user_path(user), class: "label label-warning"
            -unless current_admin == user
              = link_to 'Destroy', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"