.row
  .col-xs-12
    .box
      .box-header
        %h3.box-title tag
        .box-tools.pull-right
          .digg_pagination
            = will_paginate tags 
      / /.box-header
      .box-body
        #example1_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
          .row
            %br
          .row
            .col-sm-12
              %table#example1.table.table-bordered.table-striped.dataTable{"aria-describedby" => "example1_info", :role => "grid"}
                %thead
                  %tr{:role => "row"}
                    %th.sorting_asc{"aria-controls" => "example1", "aria-label" => "Rendering engine: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :style => "width: 182px;", :tabindex => "0"} tag Name
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "Browser: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 100px;", :tabindex => "0"} Location
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "Platform(s): activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 80px;", :tabindex => "0"} Area
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "Engine version: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 156px;", :tabindex => "0"} Contact Phone
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "Engine version: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 80px;", :tabindex => "0"} Address
                    / %th.sorting{"aria-controls" => "example1", "aria-label" => "Engine version: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 156px;", :tabindex => "0"} Logo
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 250px;", :tabindex => "0"} Options
                %tbody
                  - tags.each do |tag|

                    %tr{:class => "#{cycle('even', 'odd')}"}
                      %td.sorting_1= tag.name
                      / %td= tag.location
                      / %td= tag.area
                      / %td= tag.phone
                      / %td= tag.address
                      / %td= image_tag tag.logo.url(:small)
                      %td 
                        -if current_admin && current_admin.is_admin?
                          = link_to 'Edit', edit_admin_tag_path(tag), class: "label label-default"
                          = link_to "Details", admin_tag_path(tag), class: "label label-warning"
                          = link_to 'Destroy', admin_tag_path(tag), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"
                          / = link_to "Images", admin_tag_pictures_path(tag), class: "label label-success"

                %tfoot
                  %tr
                    %th{:colspan => "1", :rowspan => "1"} tag Name
                    %th{:colspan => "1", :rowspan => "1"} Location
                    %th{:colspan => "1", :rowspan => "1"} Area
                    %th{:colspan => "1", :rowspan => "1"} Contact Phone
                    %th{:colspan => "1", :rowspan => "1"} Address
                    %th{:colspan => "1", :rowspan => "1"} Options
          .row
            .col-sm-5
              .page_info
                = page_entries_info tags
            .col-sm-7
              .digg_pagination
                = will_paginate tags 
      / /.box-body
    / /.box
  / /.col