%h1 Listing admin_payment_responses

%table
  %thead
    %tr
      %th Merchantrequestid
      %th Checkoutrequestid
      %th Resultcode
      %th Resultdescription
      %th Amount
      %th Mpesareceiptnumber
      %th Balance
      %th Transactiondate
      %th Phonenumber
      %th
      %th
      %th

  %tbody
    - @admin_payment_responses.each do |admin_payment_response|
      %tr
        %td= admin_payment_response.MerchantRequestID
        %td= admin_payment_response.CheckoutRequestID
        %td= admin_payment_response.ResultCode
        %td= admin_payment_response.ResultDescription
        %td= admin_payment_response.Amount
        %td= admin_payment_response.MpesaReceiptNumber
        %td= admin_payment_response.Balance
        %td= admin_payment_response.TransactionDate
        %td= admin_payment_response.PhoneNumber
        %td= link_to 'Show', admin_payment_response
        %td= link_to 'Edit', edit_admin_payment_response_path(admin_payment_response)
        %td= link_to 'Delete', admin_payment_response, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Payment response', new_admin_payment_response_path
