%section.content-header
  %h1
    DisCoucher Establishments
    %small All stablishments in the database #{@establishments.count} || Total redeemed vouchers #{@total_visits}
  %h1
    %small Most active establishement #{@most_active[0]}, with #{@most_active[1]} Voucher redemptions || Least active establishement #{@least_active[0]}, with #{@least_active[1]} Voucher redemptions
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here


%br
.row-fluid
  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title 
        Vists per Establishment (Vouchers redeemed per establishment)
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = doughnut_chart @data , @options
.row-fluid
  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title 
        Overall vists by month
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = bar_chart @vists_data , @options1

%br
=render "establishments/table", establishments: @establishments #the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)

%br
-if current_admin && current_admin.is_admin?
  %p=link_to 'New establishment', new_establishment_path, class: "btn btn-primary"