%p#notice= notice

%p
  %b Name:
  = @establishment.name
%p
  %b Type:
  = @establishment.type.name
%p
  %b Location:
  = @establishment.location
%p
  %b Phone:
  = @establishment.phone
%p
  %b Address:
  = @establishment.address
%p
  %b Logo:
  = @establishment.logo
  = image_tag @establishment.logo.url(:medium)

%p
%p
%p

%table.table.table-hover
  %thead 
    %tr
      %th It is found in the following books
    %tr
      %th Book Code
      %th Year
      %th 
      %th

  %tbody
    - @establishment.books.each do |book|
      %tr
        %td=book.code
        %td=book.year
        %td
        %td
          / -if current_admin && current_admin.is_admin?
          /   = link_to 'Edit', edit_establishment_path(establishment), class: "label label-default"
          /   = link_to "Show",establishment, class: "label label-warning"
          /   = link_to 'Destroy', establishment, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"


= link_to 'Edit', edit_establishment_path(@establishment)
\|
= link_to 'Back', establishments_path
