<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/logo.png" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p><%= current_admin.first_name%> <%= current_admin.last_name%></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <%= controller_name%> <%= current_admin.last_name%>
    <% if controller.controller_name != "dashboard" && controller.controller_name != "search" %>
      <form action="search" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
            <button type='submit' name='<%= controller_name%>' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    <%end%>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Navigation</li>
        <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="/"><i class='fa fa-dashboard' ></i> <span>Dashboard</span></a></li>
      <li ><a href="/admin/books" ><i class='fa fa-edit'></i> <span>Manage Books</span></a></li>
      <li class="treeview">
        <a href="/admin/establishments" ><i class='fa fa-th'></i> <span>Manage Esablishments</span><i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
             <li><a href="/admin/establishments" ><i class='fa fa-circle-o text-red'></i><span>All</span></a></li>
             <li>
            <% EstablishmentType.all.each  do  |type| %>
              <%= link_to "#{type.name}", "/admin/establishments?category=#{type.id}" %>
              
            <% end %>
            </li>
          </ul>
      </li>
      <li><a href="/admin/users" ><i class='fa fa-users '></i> <span>Manage Users</span></a></li>
      <li><a href="/admin/vouchers" "><i class='fa fa-files-o'></i> <span>Manage Vouchers</span></a></li>
      <li><a href="/admin/tags" "><i class='fa fa-tag'></i> <span>Manage Tags</span></a></li>
      <li><a href="/admin/establishment_types" "><i class='fa fa-sitemap'></i> <span>Manage Categories</span></a></li>
      <li><a href="/admin/reviews" "><i class='fa fa-comments-o'></i> <span>Cusomer Reviews</span></a></li>
       
      # <li class="treeview">
      #   <a href="#"><i class='fa fa-link'></i> <span>Create New...</span> <i class="fa fa-angle-left pull-right"></i></a>
      #   <ul class="treeview-menu">
      #     <li><a href="/admin/books/new"><i class='fa fa-circle-o text-red'></i><span>Book</span></a></li>
      #     <li><a href="/admin/establishments/new"><i class='fa fa-circle-o text-yellow'></i><span>Establishment</span></a></li>
      #     <li><a href="/admin/vouchers/new"><i class='fa fa-circle-o text-aqua'></i><span>Voucher</span></a></li>
      #   </ul><span>
      # </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
