%h1 Listing vouchers

%table
  %thead
    %tr
      %th Code
      %th Description
      %th Condition
      %th Year
      %th
      %th
      %th

  %tbody
    - @vouchers.each do |voucher|
      %tr
        %td= voucher.code
        %td= voucher.description
        %td= voucher.condition
        %td= voucher.year
        %td= link_to 'Show', voucher
        %td= link_to 'Edit', edit_voucher_path(voucher)
        %td= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Voucher', new_voucher_path
