%p
  %b Code:
  = @voucher.code
%p
  %b Description:
  = @voucher.description
%p
  %b Condition:
  = @voucher.condition
%p
  %b Year:
  = @voucher.year

= link_to 'Edit', edit_admin_voucher_path(@voucher)
\|
= link_to 'Back', admin_vouchers_path
