%table.table.table-hover
  %thead
    %tr
      %th establishment
      %th Area
      %th Location
      %th Phone
      %th Address
      %th Logo
      %th Options
      %th

  %tbody
    - establishments.each do |establishment|
      %tr
        %td= establishment.name
        %td= establishment.area
        %td= establishment.location
        %td= establishment.phone
        %td= establishment.address
        %td= image_tag establishment.logo.url(:medium)
        %td
          -if current_admin && current_admin.is_admin?
            = link_to 'Edit', edit_admin_establishment_path(establishment), class: "label label-default"
            = link_to "Show Details", admin_establishment_path(establishment), class: "label label-warning"
            = link_to 'Destroy', admin_establishment_path(establishment), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"