%section.content-header
  %h1
    #{@establishment.name}
    %small Has a total of #{@establishment_visits.count} redeemed vouchers
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level

/ %p
/   %b Name:
/   = @establishment.name
/ %p
/   %b Type:
/   = @establishment.type.name unless @establishment.type.nil?
/ %p
/   %b Location:
/   = @establishment.location
/ %p
/   %b Phone:
/   = @establishment.phone
/ %p
/   %b Address:
/   = @establishment.address
/ %p
/   %b Logo:
/   = @establishment.logo
/   = image_tag @establishment.logo.url(:medium)

/ %p
/ %p
/ %p

.row-fluid
  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title 
        Redeemed vouchers per user 
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = doughnut_chart @dates , @options1
.row-fluid
  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title 
        Voucher redemption by month
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = bar_chart @data , @options

%table.table.table-hover
  %thead 
    %tr
      %th It is found in the following books
    %tr
      %th Book Code
      %th Year
      %th 
      %th

  %tbody
    - @establishment.books.each do |book|
      %tr
        %td=book.code
        %td=book.year
        %td
        %td
          / -if current_admin && current_admin.is_admin?
          /   = link_to 'Edit', edit_establishment_path(establishment), class: "label label-default"
          /   = link_to "Show",establishment, class: "label label-warning"
          /   = link_to 'Destroy', establishment, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"


= link_to 'Edit', edit_admin_establishment_path(@establishment)
\|
= link_to 'Back', admin_establishments_path
