%section.content-header
  %h1
    #{@establishment.name} (#{@establishment.type.name})
    %small #{ @establishment.vouchers.count < 1 ?  "Has 0 vouchers" : "Has a total of " + @establishment_visits.count.to_s + " redeemed vouchers" }  
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
%br

.row-fluid
  .col-md-6
    .box.box-primary
      .box-header.with-border
        %h3.box-title 
        Establishment Desc
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-original-title" => "Minimize", "data-toggle" => "tooltip", :title => "", "data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          / %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
          /   %i.fa.fa-times
      .box-body
        %p #{@establishment.description}


.row.fluid
  
  - @establishment.vouchers.each do |voucher|
    .col-md-4
      .info-box.bg-green
        %span.info-box-icon
          %i.ion.ion-ios-pricetag-outline
        .info-box-content
          %span.info-box-text #{voucher.code}
          %span.info-box-number Used #{voucher.visits.count} times
          .progress
            .progress-bar{:style => "width: #{voucher.visits.count}%"}
          %span.progress-description
            #{voucher.visits.count} redemptions in 30 Days
        / /.info-box-content


.row-fluid
  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title 
        Redeemed vouchers per user 
        .box-tools.pull-right
          %button.btn.btn-box-tool{ "data-original-title" => "Minimize", "data-toggle" => "tooltip", :title => "", "data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          / %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
          /   %i.fa.fa-times
      .box-body
        = doughnut_chart @dates , @options1
.row-fluid
  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title 
        Voucher redemption by month
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-original-title" => "Minimize", "data-toggle" => "tooltip", :title => "", "data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          / %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
          /   %i.fa.fa-times
      .box-body
        = bar_chart @data , @options

%br
-# reuser the reviews partial! how awesome
#partial_page
  =render "admin/reviews/table", reviews: @reviews

-# .row.fluid
-#   .col-md-12
-#     .box.box-widget
-#       .box-header.with-border
-#         .user-block
-#           %h3.box-title 
-#           Establishment Images
-#         / /.user-block
-#         .box-tools
-#           / %button.btn.btn-box-tool{"data-original-title" => "Mark as read", "data-toggle" => "tooltip", :title => "", :type => "button"}
-#           /   %i.fa.fa-circle-o
-#           %button.btn.btn-box-tool{ "data-original-title" => "Minimize", "data-toggle" => "tooltip", :title => "","data-widget" => "collapse", :type => "button"}
-#             %i.fa.fa-minus
-#           / %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
-#           /   %i.fa.fa-times
-#         / /.box-tools
-#       / /.box-header
-#       .box-body
-#         - if @establishment.pictures.present?
-#           .col-md-12
-#             - @establishment.pictures.each do |pic|
-#               .col-md-2
-#                 %a.example-image-link{"data-lightbox" => "example-set", "data-title" => "Click the right half of the image to move forward.", :href => "#{pic.image(:original)}"}
-#                   %img.example-image{:alt => "", :src => "#{pic.image(:small)}"}/






= link_to 'Edit Establishment', edit_admin_establishment_path(@establishment), class: "btn btn-default"
\|
= link_to 'Back', admin_establishments_path, class: "btn btn-primary"
